//divs med linjer som ska likna papperslinjer
.lined-text-container {
  width: 80%;
  margin: 2em auto 3em;
  .bold {
    font-weight: bold;
  }
  p span.bold {
    text-transform: uppercase;
  }

  div.pattern {
    width: 100%;
    height: auto;
    margin-top: 0.8em;
    min-height: 130px;
    //Själva linjerna
    background-image: repeating-linear-gradient(
      rgba(255, 255, 255, 0) 0px,
      rgba(255, 255, 255, 0) 23px,
      black 26px
    );
  }
  //Brottsbeskrivningen
  div.pattern.incident {
    min-height: 220px;
  }
  //Själva textinnehållet
  div.text {
    text-transform: initial;

    p {
      line-height: 1.63;
    }
  }
}
//Föreslagen påföljd
p.punishment {
  text-align: center;
  margin-top: 2em;
  text-transform: uppercase;
  span.no-bold {
    font-weight: 400;
  }
}

//Media queries
@media (max-width: 680px) {
  //bredda rutorna för texten
  .lined-text-container {
    width: 100%;
    padding: 1.2em;
    margin: 1em auto;
  }
}

//Gör om textstorleken och linjernas höjd
@media (max-width: 475px) {
  .lined-text-container div.pattern {
    background-image: repeating-linear-gradient(
      rgba(255, 255, 255, 0) 0px,
      rgba(255, 255, 255, 0) 20.3px,
      black 23.3px
    );
  }
  div.text {
    font-size: 0.9em;
  }
}
