<div class="lined-text-container">
    <p><span class="bold">Tidigare förseelser:</span></p>
    <div class="pattern">
        <div class="text">
            <p>3/4 försökte äta kadavret av en död duva på stranden.</p>
            <p>
                17/4 sprang rakt ut på isen som inte bar vikt.
            </p>
            <p>
                22/4 sprang i förväg in i kotunneln och upp på vägen trots att ägaren följde en annan väg. Kunde sedan
                inte hitta tillbaka på egen hand utan var tvungen att räddas.
            </p>
        </div>
    </div> <!-- /div.pattern -->
</div> <!-- /div.lined-text-container -->
<div class="lined-text-container">
    <p><span class="bold">Brottsbeskrivning:</span></p>
    <div class="pattern incident">
        <div class="text">
            <p>Gärningshunden och ägare var ute på lägda på morgonpromenad. G.H var lös vid tillfället. G.H åt
                rådjursbajs trots direktiv att låta bli, och fick sedan för sig att springa så fort som möjligt mot den
                trafikerade bilvägen.</p>
            <p>G.H bedöms vara opålitlig och intelligensbefriad i situationer som involverar viltexkrement och bilvägar.
            </p>
        </div>
    </div> <!-- /div.pattern -->
    <p class="punishment bold">Föreslagen påföljd: <span class="no-bold">Indraget gå-utan-koppel-privilegie</span></p>
</div> <!-- /div.lined-text-container -->