<div class="paper">
    <div class="grid-container">
        <div class="picture">
            <img [src]="img2" alt="En cremefärgad golden retriever-tik">
            <img [src]="paperclip" alt="gem" id="gem">
        </div>
        <div class="presentation">
            <p id="date"><span class="bold">Datum: </span>24/4 2024</p>
            <div class="info">
                <p><span class="bold">Namn: </span>{{ namn }}</p>
                <p><span class="bold">Född: </span>{{ born }}</p>
                <p><span class="bold">Ålder vid brott: </span>{{ crimeAge }}</p>
                <p><span class="bold">Vikt: </span>{{ vikt }}</p>
                <p><span class="bold">Sysselsättning: </span>{{ occupation }}</p>

            </div>
        </div>
    </div>
    <p class="punishment">Föreslagen påföljd: Indraget koppelfri-privilegie</p>
</div>