<app-paper>
    <h2>Lösning</h2>
    <div class="solution">
        <h3>Om uppgiften</h3>
        <p>I denna uppgift skulle vi skapa en hemsida med hjälp av Angular som verktyg. Den skulle innehålla minst tre
            undersidor, varav en skulle innehålla en bild. En undersida skulle vara tillägnat en konverteringsfunktion,
            och en annan undersida skulle vara om hur jag har löst uppgiften.</p>
        <p>Vidare skulle minst en komponent användas på någon undersida, och navigeringen skulle ske genom Angulars
            routingmodul.</p>
        <h3>Om sidan</h3>
        <p>Det finns tre undersidor; 1 startsida, en sida för min hund, 1 sida för konvertering, och den här sidan som
            handlar om hur jag har löst uppgiften.
            Varje undersida är en komponent. Utöver detta har jag även en komponent för "pappret", en för navigering,
            och en för de delar av "rapporten" på Loka-sidan som har styling för att likna pappersrader. Sammanlagt har
            jag 7 komponenter.
        </p>
        <p>För att lösa styling har jag använt mig av Scss, men skapade inte något direkt filträd eftersom varje
            komponent har egen styling. Det finns en mapp för Sass och i den ligger en fil med assets, som innehåller
            variabler.</p>
        <p>Jag har lagt till lite egen funktionalitet som att byta ut bilden på hunden om man trycker på den, och att
            kunna trycka var som helst på flikarna för att byta sida.</p>
        <h3>Slutsatser</h3>
        <p>Det här har varit en väldigt rolig uppgift och ett tacksamt avbrott från localStorage och
            databasanslutningar. I början var jag högst förvirrad och tveksam, men sedan man har provat på lite olika
            komponenter känns det som ett roligt pussel.</p>
        <p>Det har varit väldigt nyttigt och lärorikt att få se hur ramverk som använder sig av komponenter fungerar,
            för med lite tur kanske det då känns enkelt att sätta sig in i t ex React senare.</p>
        <p>Jag känner mig fortfarande tevksam på hur det fungerar att lägga in mer utförlig JavaScript, event emitters,
            services och dylikt. Och jag hade förmodligen kunnat stuva om i mina komponenter för att göra dem ännu
            smidigare och mer återanvändbara. Jag ser fram emot att lära mig mer.
        </p>
    </div>
</app-paper>